@model IEnumerable<Practica4.Models.movimiento>
@{
    ViewBag.Title = "Estado de Cuenta";
    string nada = "--";
}

<h2>Estado de Cuenta</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Monto)
        </th>
        <th>
            Descripción
        </th>
        <th>
            Fecha
        </th>
        <th>
            Mi Cuenta
        </th>
        <th>
            Otra Cuenta
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Monto)
        </td>
        <td>
            @if (item.mov == "I")
            {
                <h5 class="btn btn-info btn-xs disabled">Saldo Inicial</h5>
            }
            else if (item.mov == "C")
            {
                <h5 class="btn btn-primary btn-xs disabled">Crédito</h5>
            }
            else if (item.mov == "D")
            {
                <h5 class="btn btn-danger btn-xs disabled">Débito</h5>
            }
            else if (item.mov == "T")
            {
                <h5 class="btn btn-default btn-xs disabled">Transferido</h5>
            }
            else if (item.mov == "R")
            {
                <h5 class="btn btn-success btn-xs disabled">Transferencia Recibida</h5>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cuentaUno)
        </td>
        <td>
            @if (item.cuentaDos != null)
            {
                @Html.DisplayFor(modelItem => item.cuentaDos)
            }
            else {
                <h5>@nada</h5>
            }
        </td>
    </tr>
    }

</table>

<hr />
<div class="row">
    <div class="form-group">
        <div class="col-md-offset-1 col-md-10" align="center">
            <a href="@Url.Action("Index", "Usuario")" class="btn btn-lg btn-primary">Regresar</a>
            <a href="javascript:window.print()" class="btn btn-lg btn-info">Click Para Imprimir</a>
        </div>
    </div>
</div>